<form class="information" action="play" method="post">
  <h2>How many players?</h2>
  <input type="radio" name="number_of_players" value="1"> One<br>
  <input type="radio" name="number_of_players" value="2"> Two<br><br>
  <input type="text" name="player1" placeholder="Player 1 Name"><br>
  <input type="text" name="player2" placeholder="Player 2 Name"><br><br>
  <h2>What difficulty level?</h2>
  <input type="radio" name="difficulty" value="1"> Random Opponent<br>
  <input type="radio" name="difficulty" value="2"> Sequential Opponent<br>
  <input type="radio" name="difficulty" value="3"> Unbeatable Opponent<br>
<input type="submit" value="Let's Play!">
</form>
